[submodule "lib/mock"]
	path = lib/mock
	url = https://github.com/Vanuan/mock.git
[submodule "lib/pybuilder"]
	path = lib/pybuilder
	url = git://github.com/pybuilder/pybuilder.git
[submodule "vkontakte"]
	path = vkontakte
	url = git://github.com/Vanuan/vkontakte.git
